<body>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, cumque et! Numquam quae quis, quod aperiam sapiente id! Unde, repellat.
  </p>
  <a href="/">Home</a>
  <a href="/about">About</a>
</body>